/* .container {
  display: flex;
  flex-direction: column;
} */

.panel-container {
  display: flex;
  /* margin: 1rem; */
  /* margin: "5px"; */
  justify-content: center;
}

.panel {
  position: relative;
  width: 1000px;
  height: 1000px;
  overflow-x: scroll;
}

@media only screen and (min-width: 1048px) {
  /* .panel-container {
    justify-content: center;
  } */
  .panel {
    overflow-x: visible;
  }
}
